/* purgecss start ignore */
@tailwind base;

body {
  font-family: "Open Sans", "sans-serif";
  color: #d6d6d6;
  background-color: #181818;
}

h1 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  line-height: 2rem;
}

h2 {
  font-size: 1.5rem;
  color: #ebebeb;
  line-height: 2rem;
}

h3 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

h4 {
  font-size: 0.875rem;
  color: #808080;
  line-height: 1rem;
}

article {
  scroll-margin-top: 3.5rem;
}

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
