/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* purgecss start ignore */
html {
  scroll-behavior: smooth;
  overflow: scroll;
  scrollbar-width: none; /* Hide scrollbar Firefox */
  -ms-overflow-style: none; /* Hide scrollbar IE 10+ */
}
.dark-mode {
  background-color: #181818;
  color: #d6d6d6;
}

/* Hide scrollbar Chrome, Safari */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

h1 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  line-height: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #2d2d2d;
}

.dark-mode h2 {
  color: #ebebeb;
}

h3 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

h4 {
  font-size: 0.875rem;
  color: #505050;
  line-height: 1rem;
}
.dark-mode h4 {
  color: #808080;
}

article {
  scroll-margin-top: 5rem;
}

.sub-title {
  font-variant: small-caps;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.switch::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #ffffff;
  top: 2px;
  left: 2px;
  transition: all 0.3s;
}

.dark-mode .switch::after {
  background-color: #2d2d2d;
}

.checkbox:checked + .switch::after {
  left: 18px;
}

.checkbox {
  display: none;
}

/* purgecss end ignore */
